/* Sequoia Sequoia Retro Dark for Obsidian */
body.theme-dark {
  color-scheme: dark;
  --accent-h: 31;
  --accent-s: 30%;
  --accent-l: 49%;
  --color-base-00: #0f1014;
  --color-base-05: #0f1014;
  --color-base-10: #0f1014;
  --color-base-20: #111216;
  --color-base-25: #111216;
  --color-base-30: #575861;
  --color-base-35: #575861;
  --color-base-40: #575861;
  --color-base-50: #575861;
  --color-base-60: #575861;
  --color-base-70: #868690;
  --color-base-100: #868690;
  --background-primary: #0f1014;
  --background-primary-alt: #0f1014;
  --background-secondary: #111216;
  --background-secondary-alt: #0f1014;
  --background-modifier-border: #57586140;
  --background-modifier-border-hover: #57586166;
  --background-modifier-hover: #817c9c26;
  --background-modifier-active-hover: #817c9c26;
  --text-normal: #868690;
  --text-muted: #575861;
  --text-faint: #575861;
  --text-accent: #a27e57;
  --text-accent-hover: #829fa7;
  --text-on-accent: #0f1014;
  --interactive-accent: #a27e57;
  --interactive-accent-hover: #829fa7;
  --text-selection: #817c9c26;
  --text-link: #829fa7;
  --code-normal: #da674b;
  --code-comment: #43444d;
  --code-function: #829fa7;
  --code-keyword: #648f68;
  --code-important: #829fa7;
  --code-property: #5c87a4;
  --code-punctuation: #575861;
  --code-string: #da674b;
  --code-tag: #5c87a4;
  --code-value: #648f68;
  --titlebar-background: #0f1014;
  --titlebar-background-focused: #0f1014;
  --tab-background-active: #0f1014;
  --ribbon-background: #111216;
  --nav-item-background-hover: #817c9c26;
  --nav-item-background-active: #817c9c26;
  --checkbox-color: #a27e57;
}
