/* Sequoia Sequoia Monochrome Light for Obsidian */
body.theme-light {
  color-scheme: light;
  --accent-h: 231;
  --accent-s: 9%;
  --accent-l: 30%;
  --color-base-00: #edeef2;
  --color-base-05: #edeef2;
  --color-base-10: #edeef2;
  --color-base-20: #e2e3e8;
  --color-base-25: #e2e3e8;
  --color-base-30: #42434e;
  --color-base-35: #42434e;
  --color-base-40: #42434e;
  --color-base-50: #42434e;
  --color-base-60: #42434e;
  --color-base-70: #282930;
  --color-base-100: #282930;
  --background-primary: #edeef2;
  --background-primary-alt: #edeef2;
  --background-secondary: #e2e3e8;
  --background-secondary-alt: #edeef2;
  --background-modifier-border: #42434e40;
  --background-modifier-border-hover: #42434e66;
  --background-modifier-hover: #817c9c38;
  --background-modifier-active-hover: #817c9c38;
  --text-normal: #282930;
  --text-muted: #42434e;
  --text-faint: #42434e;
  --text-accent: #454752;
  --text-accent-hover: #525666;
  --text-on-accent: #0f1014;
  --interactive-accent: #454752;
  --interactive-accent-hover: #525666;
  --text-selection: #817c9c38;
  --text-link: #525666;
  --code-normal: #50535e;
  --code-comment: #9da2ad;
  --code-function: #525666;
  --code-keyword: #2e3038;
  --code-important: #525666;
  --code-property: #5f6370;
  --code-punctuation: #42434e;
  --code-string: #50535e;
  --code-tag: #5f6370;
  --code-value: #2e3038;
  --titlebar-background: #edeef2;
  --titlebar-background-focused: #edeef2;
  --tab-background-active: #edeef2;
  --ribbon-background: #e2e3e8;
  --nav-item-background-hover: #817c9c38;
  --nav-item-background-active: #817c9c38;
  --checkbox-color: #454752;
}
